<a href="https://colab.research.google.com/github/kenny-vb244/DTSC-3020.020.2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruitList = ["kiwi", "mango", "lime"]
print (fruitList)
for i in fruitList:
  print(i)

['kiwi', 'mango', 'lime']
kiwi
mango
lime

In [5]:
nameList = ["Emily", "Zak", "Ava", "Grace"]
nameList[0] = "Orion"
print(nameList)

['Orion', 'Zak', 'Ava', 'Grace']

In [6]:
vehicles = ['car', 'bike', 'scooter', 'skateboard', 'boat']
vehicles.append('plane')
print(vehicles)

['car', 'bike', 'scooter', 'skateboard', 'boat', 'plane']

In [7]:
foodList = ['lasagna', 'soup', 'biscuit', 'pizookie', 'sandwich', 'taco']
foodList.remove('pizookie')
print(foodList)

['lasagna', 'soup', 'biscuit', 'sandwich', 'taco']

In [8]:
cityList = ['Detroit', 'Dallas', 'St.Paul', 'Atlanta' ]
cityList.sort()
print(cityList)

['Atlanta', 'Dallas', 'Detroit', 'St.Paul']

In [9]:
animals = ['catfish', 'shrimp', 'snail']
for i in animals:
  print(i)

catfish
shrimp
snail

In [10]:
numberList = [1, 2, 3, 4, 5]
for i in numberList:
  print(i*2)

2
4
6
8
10

In [13]:
friendList = ['Ava', 'Faber', 'Calladora', 'Alyssa', 'Asa', 'Emma']
print(friendList[0:3])
print(friendList[3:6])

['Ava', 'Faber', 'Calladora']
['Alyssa', 'Asa', 'Emma']

In [18]:
newList = [x for x in range(11) if x > 0]
print(newList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list1 = [1, 2, 3, 4, 5]
list2 = []

for i in list1:
  list2.append(i*i)

print(list2)

[1, 4, 9, 16, 25]