<a href="https://colab.research.google.com/github/kenny-vb244/DTSC-3020.020.2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [15]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

min(grades, key=grades.get)
print(f"{key} has the lowest grade.")

Omid has the lowest grade.

Exercise 2: print names of students who registered for any course containing "Data"

In [3]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:

for student, course in courses.items():
  for c in course:
    if "Data" in c:
      print(student)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [4]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

for book, info in library.items():
  if info["available"] == False:
    print(book)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [6]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:

for student, course in registrations.items():
  if len(course) > 2:
    print(student)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [14]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

print(sum(grades.values()) / len(grades))

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [21]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

count = 0

for student, course in courses.items():
  if 'Python' in course:
    count = count + 1

print(f"{count} students registered")

3 students registered

Exercise 7: Print titles of books with more than 200 pages.

In [18]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here

for book, pages in book_pages.items():
  if pages >= 200:
    print(book)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [27]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

for student, course in courses.items():
  count = len(courses[student])
  print(f"{student}: {count} course(s)")

Ali: 2 course(s)
Sara: 2 course(s)
Reza: 2 course(s)
Lina: 2 course(s)
Omid: 1 course(s)